<div id="newsLetterContainer">
    <h5>Email cím</h5>
    <form method="post" id="newsletterForm">
        <input type="email" id="newsLetterEmail" class="form-control w-75" name="newsLetterEmail" placeholder="add meg az email címedet" required>
        <input type="submit" class="btn btn-danger w-75 my-3" name="subscribe" value="Feliratkozás">
        <div class="checkboxContainer w-75"><input type="checkbox" name="contribute" id="contribute" required>Hozzájárulok, hogy a RecipeHub hírleveleket küldjön számomra.</div>
        %!EAMILRESULT!%       
    </form>
</div>