<div class="modal fade" id="editCategoryModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-pencil-square"></i> %!EDITCATEGORY!%</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="editCategoryForm" method="post">
                <div class="modal-body">
                    <input type="hidden" name="category_id" id="editCategoryId">
                    <div class="mb-3">
                        <label class="form-label" for="editCategoryName">%!CATEGORYNAME!%</label>
                        <input type="text" name="categoryName" class="form-control" required id="editCategoryName"
                            placeholder="">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="editStatuses">%!STATUS!%</label>
                        <select name="status" class="form-select" id="editStatuses">
                            %!STATUSOPTIONS!%
                        </select>
                    </div>
                    <div class="mb-3">
                        <p class="errorMessage">%!EDITCATEGORYRESULT!%</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary confirm-btn" name="editCategory" data-confirm="Biztosan módosítod az elemet?">%!EDITCATEGORYBTN!%</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">%!CANCEL!%</button>
                </div>
            </form>
        </div>
    </div>
</div>
