<button class="mobile-menu-toggle" onclick="toggleMobileMenu()">
    <i class="bi bi-list"></i> %!MENU!% <i class="bi bi-chevron-down"></i>
</button>
<ul id="accountSideMenu">
    <h3 id="menuTitle"><a href="index.php?p=account">%!MENU!%</a></h3>
    <li class="sideMenuItem"><a href="index.php?p=bookmarked-recipes">%!SAVED!%</a></li>
    <li class="sideMenuItem"><a href="index.php?p=favourite-recipes">%!LIKED!%</a></li>
    <li class="sideMenuItem"><a href="index.php?p=my-recipes">%!OWN!%</a></li>
    <li class="sideMenuItem"><a href="index.php?p=upload-recipe">%!UPLOAD!%</a></li>
    <li class="sideMenuItem"><a href="index.php?p=profile">%!PROFILE!%</a></li>
    <li><form method="post"><button type="submit" name="logout" class="menuLogoutBtn">%!LOGOUT!%</button></form></li>
</ul>