<div class="card shadow-sm mb-4">
  <div class="titleDiv"><h2>%!SEARCHRECIPES!%</h2></div>
  <div class="card-body">
    <form id="recipeFilterForm" method="get" action="" class="row g-3">
        <input type="hidden" name="p" value="recipes">
      <div class="col-12">
        <label for="keywordFilter">Kulcsszó</label>  
        <input type="text" class="form-control" id="keywordFilter" name="keyword" value=""
            placeholder="Kulcsszó">
      </div>

      <div class="col-md-6 col-lg-2">
        <label for="difTag">Nehézség</label>  
        <select class="form-select" id="difTag" name="tags[difTag]">
            <option value="">Összes</option>
            %!DIFTAGS!%
          </select>
      </div>
      <div class="col-md-6 col-lg-2">
        <label for="timeTag">Időtartam</label>  
        <select class="form-select" id="timeTag" name="tags[timeTag]">
            <option value="">Összes</option>
            %!TIMETAGS!%
          </select>
      </div>
      <div class="col-md-6 col-lg-2">
        <label for="budgetTag">Költségvetés</label>  
        <select class="form-select" id="budgetTag" name="tags[budgetTag]">
            <option value="">Összes</option>
            %!BUDGETTAGS!%
          </select>
      </div>
      <div class="col-md-6 col-lg-2">
        <label for="occTag">Alkalom</label>  
        <select class="form-select" id="occTag" name="tags[occTag]">
            <option value="">Összes</option>
            %!OCCTAGS!%
          </select>
      </div>
      <div class="col-md-6 col-lg-2">
        <label for="methodTag">Elkészítési mód</label>  
        <select class="form-select" id="methodTag" name="tags[methodTag]">
            <option value="">Összes</option>
            %!METHODTAGS!%
          </select>
      </div>

      <div class="col-md-6 col-lg-2">
        <label for="styleTag">Stílus</label>  
        <select class="form-select" id="styleTag" name="tags[styleTag]">
            <option value="">Összes</option>
            %!STYLETAGS!%
          </select>
      </div>

      <div class="col-md-6 col-lg-4">
          <label for="categoryFilter">Kategória</label>
            <select class="form-select" id="categoryFilter" name="category">
            <option value="">Minden kategória</option>
            %!CATEGORIES!%
          </select>
      </div>

      <div class="col-md-6 col-lg-4">
            <label for="sortByFilter">Rendezés</label>
          <select class="form-select" id="sortByFilter" name="sortBy">
            <option value="id">Alapértelmezett</option>
            <option value="date">Dátum szerint</option>
            <option value="likes">Legtöbb kedvelés</option>
            <option value="bookmarks">Legtöbb mentés</option>
          </select>
      </div>

      <div class="col-md-6 col-lg-4">
        <label for="orderFilter">Sorrend</label>  
        <select class="form-select" id="orderFilter" name="order">
            <option value="DESC">Csökkenő</option>
            <option value="ASC">Növekvő</option>
          </select>
      </div>

      <div>
        <button type="submit" class="btn btn-outline-secondary" name="resetFilter">Alaphelyzet</button>
        <button type="submit" class="btn btn-primary ms-2" name="filter">
          <i class="bi bi-search"></i> Keresés
        </button>
      </div>
  </div>
  </form>
</div>